@page
@model azure_app_cp.Pages.DeploymentSlotsModel
@{
    ViewData["Title"] = "deployment slots page";
}

<div class="text-center">
    <h1 class="display-4">Testing deployment slots</h1>
    <h3>
        validating the deployment slot feature
    </h3>
</div>
